# Copy file ini menjadi .env dan isi nilainya
# cp .env.example .env

# Database
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=db_transaksi
DATABASE_URL=postgresql://admin:your_password_here@db:5432/db_transaksi

# Backend
BACKEND_PORT=3011

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3011/api
